@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h5>Witaj w naszym serwisie adopcyjnym dla zwierząt! Jesteśmy miejscem, gdzie marzenia o nowym towarzyszu z łapkami stają się rzeczywistością. Pragniemy serdecznie zaprosić Cię do odkrywania piękna adopcji zwierząt poprzez naszą platformę.</h5>
    <br />
    <h1 class="display-4">Adoptuj Psiego Przyjaciela:</h1>
    <p>Przeglądaj naszą bazę danych pełną uroczych psiaków o różnych charakterach, wiekach i rozmiarach. Każdy z nich czeka na kogoś wyjątkowego, kto otworzy swoje serce na przyjaźń. Znajdź psa, który najbardziej odpowiada Twojemu stylowi życia i zaczynajcie razem nowy, niezwykły rozdział.</p>
    <h1 class="display-4">Dodaj Nowego Pupila do Wybranego Schroniska:</h1>
    <p>Jesteś właścicielem schroniska i chcesz pomóc swoim podopiecznym znaleźć nowy dom? Dodaj swoje schronisko do naszej bazy danych, dzięki czemu potencjalni opiekunowie będą mieli szansę poznać historie i potrzeby zwierząt, które czekają na adopcję.</p>
    <h1 class="display-4">Dodaj Nowe Schronisko:</h1>
    <p>Czy prowadzisz schronisko dla zwierząt i pragniesz poszerzyć zasięg, aby dotrzeć do większej liczby potencjalnych adoptantów? Dodaj swoją placówkę do naszego serwisu, dzięki czemu pomożemy Ci dotrzeć do ludzi, którzy są gotowi otworzyć swoje domy na zwierzęta potrzebujące nowego, kochającego środowiska.</p>
    <hr/>
    <p>Dzięki naszej platformie, pragniemy wspólnie budować mosty pomiędzy bezdomnymi zwierzętami a sercami pełnymi miłości. Niech adopcja stanie się dla Ciebie niezapomnianym doświadczeniem, a każdy dodany ogłoszenie przyczyni się do zbliżenia kolejnego psiaka z jego wymarzonym domem.</p>
</div>