@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Dziękujemy za korzystanie z naszej strony internetowej. Niniejsza Polityka Prywatności ma na celu poinformowanie Cię o tym, w jaki sposób gromadzimy, używamy, udostępniamy i chronimy Twoje dane osobowe. Prosimy o dokładne przeczytanie poniższych informacji, aby zrozumieć nasze zasady dotyczące prywatności.</p>

<h5>
    1. Rodzaje Gromadzonych Danych:
</h5>
<p>
    a. Dane Osobowe:
    Gromadzimy dane, które dobrowolnie nam udostępniasz podczas korzystania z naszej strony, takie jak imię, nazwisko, adres e-mail itp.
</p>
<p>
    b. Dane Automatycznie Gromadzone:
    Podczas korzystania z naszej strony automatycznie gromadzimy pewne informacje, takie jak adres IP, rodzaj przeglądarki, czas spędzony na stronie, itp.
</p>
<h5>
    2. Cel Gromadzenia Danych:
</h5>
<p>
    a. Dostarczanie Usług:
    Twoje dane są używane do świadczenia usług, takich jak możliwość adoptowania zwierząt, dodawania ogłoszeń schronisk, itp.
</p>
<p>
    b. Komunikacja:
    Wykorzystujemy Twoje dane kontaktowe do przesyłania informacji dotyczących adopcji, zmian w serwisie oraz innych istotnych kwestii.
</p>
<h5>
    3. Udostępnianie Danych Osobom Trzecim:
</h5>
<p>
    Nie udostępniamy Twoich danych osobowych stronom trzecim bez Twojej wyraźnej zgody, chyba że jest to wymagane przez prawo.
</p>
<h5>
    4. Bezpieczeństwo Danych:
</h5>
<p>
    Podjęliśmy odpowiednie środki bezpieczeństwa, aby chronić Twoje dane przed nieautoryzowanym dostępem, utratą, zmianą czy ujawnieniem.
</p>
<h5>
    5. Prawa Użytkowników:
</h5>
<p>Masz prawo do dostępu, poprawiania, usuwania swoich danych osobowych. </p>
<h5>
    7. Zmiany w Polityce Prywatności:
</h5>
<p>
    Zastrzegamy sobie prawo do wprowadzania zmian w Polityce Prywatności. Aktualizacje będą publikowane na naszej stronie.
</p>
<hr />
<p>
    Dziękujemy za zaufanie i korzystanie z naszych usług. Życzymy Ci wspaniałego doświadczenia na naszej stronie adopcyjnej dla zwierząt!
</p>
