@model Schronisko.Models.Shelter

@{
    ViewData["Title"] = "Usuwanie";
}

<h1>Usuwanie</h1>

<h3>Czy na pewno chcesz usunąć?</h3>
<div>
    <h4>Schronisko</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelterAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelterAddress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ShelterId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
