@model Schronisko.Models.Shelter

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Szczegóły</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelterAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelterAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShelterId">Edytuj</a> |
    <a asp-action="Index">Wróć do listy</a>
</div>
