@model Schronisko.Models.Shelter

@{
    ViewData["Title"] = "Edycja";
}

<h1>Edycja</h1>

<h4>Schronisko</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShelterId" />
            <div class="form-group">
                <label asp-for="ShelterName" class="control-label"></label>
                <input asp-for="ShelterName" class="form-control" />
                <span asp-validation-for="ShelterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShelterAddress" class="control-label"></label>
                <input asp-for="ShelterAddress" class="form-control" />
                <span asp-validation-for="ShelterAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
